<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define various log targets -->
	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/logfile.txt" />
		<target xsi:type="Console" name="logconsole" />
	</targets>

	<!-- Rules for mapping loggers to targets -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
